<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos en tiempo real</title>
</head>
<body>

<h1>Productos en tiempo real</h1>

<input type="text" id="title" placeholder="Título">
<input type="number" id="price" placeholder="Precio">
<button onclick="addProduct()">Agregar</button>

<ul id="product-list"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>

</body>
</html>